# Word analysis

### Imports

In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import HTML, display, Markdown
import seaborn as sns
import matplotlib.pyplot as plt
# from data_mani.visu import *
from prediction.functions import aggregate_prediction_results, gen_strat_positions_and_ret_from_pred, sharpe_ratio_tb, plot_cum_ret
from time import time
init = time()

plt.style.use('bmh')

### Variables

In [2]:
fs_methods = ['sfi', 'mdi', 'mda', 'granger', 'huang', 'IAMB', 'MMMB']
method2paths = {fs:glob("results/feature_selection/{}/indices/*.csv".format(fs)) for fs in fs_methods}

In [3]:
fs_summary = {}

for fs in fs_methods:
    paths = method2paths[fs]
    ranks = []
    for i,path in enumerate(paths):
        df = pd.read_csv(path)
        df.loc[:, "rank"] = df["feature_score"].rank(ascending=False)
        df.loc[:, "word"] = df["feature"].map(lambda w:" ".join(w.split("_")[:-1]))
        df_rank = df.groupby("word").min()["rank"].sort_values()
        df_rank.name += str(i)
        ranks.append(df_rank)
    fs_summary[fs] = pd.concat(ranks,1)

## Best average rank for each word in different methods

In [4]:
for fs in fs_methods:
    ts = fs_summary[fs].mean(1).sort_values()
    ts.name = "avg best rank"
    ts = ts.to_frame().dropna()

    display(Markdown("### {}".format(fs)))
    display(HTML(ts.head(10).to_html()))

### sfi

### mdi

### mda

### granger

### huang

### IAMB

### MMMB

In [7]:
tot_time = time() - init
tot_time = tot_time / 60
print("notebook time = {:.3f} (minutes)".format(tot_time))

notebook time = 0.273 (minutes)