In [1]:
import numpy as np
import pandas as pd
from data_mani.utils import merge_market_and_gtrends, get_market_df
from tqdm import tqdm
from feature_selection.sfi import get_sfi_scores
from glob import glob

In [8]:
spx = pd.read_csv("data/indices/SPX_Utilities.csv")
spx.head()

       ticker                     SPX_Utilities
0       field  DAY_TO_DAY_TOT_RETURN_GROSS_DVDS
1        date                               NaN
2  2000-01-03                -2.220597619047619
3  2000-01-04                0.6379595238095238
4  2000-01-05                3.6085761904761906

In [9]:
a = get_market_df("data/indices/SPX_Utilities.csv")
a.head()

        date  SPX_Utilities
0 2000-01-03      -0.022206
1 2000-01-04       0.006380
2 2000-01-05       0.036086
3 2000-01-06       0.003836
4 2000-01-07       0.013735

In [14]:
path = "data/tickers/spx_group_sector.csv"
df = pd.read_csv(path)
df = df.loc[df.field == "INDUSTRY_SECTOR"].reset_index(drop=True)
df.loc[:, "ticker"] = df.ticker.map(lambda x: x.replace("/", " "))
sectors = df.value.unique().tolist()
df_ord = df.set_index("value")

sec_dict = {}

for sector in tqdm(["Utilities"], desc='sector'):
    base_list = df_ord.xs(sector).ticker.values.tolist()
    path_list = ['data/tickers/spx/{}.csv'.format(n) for n in base_list]
    dfs = []
    for p in tqdm(path_list, desc='ticker'):
        try:
            df_m = get_market_df(p).set_index("date")
            dfs.append(df_m)
        except ValueError:
            pass
    sector_df = pd.concat(dfs,1).mean(1).to_frame().rename(columns={0:sector})

sector:   0%|          | 0/1 [00:00<?, ?it/s]
ticker:   0%|          | 0/51 [00:00<?, ?it/s]
ticker:  12%|█▏        | 6/51 [00:00<00:00, 59.68it/s]
ticker:  33%|███▎      | 17/51 [00:00<00:00, 68.26it/s]
ticker:  57%|█████▋    | 29/51 [00:00<00:00, 78.15it/s]
ticker: 100%|██████████| 51/51 [00:00<00:00, 102.56it/s][A
sector: 100%|██████████| 1/1 [00:00<00:00,  1.76it/s]

In [18]:
sector_df.head()

            Utilities
date
2000-01-03  -0.022206
2000-01-04   0.006380
2000-01-05   0.036086
2000-01-06   0.003836
2000-01-07   0.013735

In [17]:
a.head()

        date  SPX_Utilities
0 2000-01-03      -0.022206
1 2000-01-04       0.006380
2 2000-01-05       0.036086
3 2000-01-06       0.003836
4 2000-01-07       0.013735

In [ ]:
sector_df.plot();
spx.set_index("date").plot();

In [ ]:
spx.set_index("date").plot()

In [ ]:
spx = get_market_df("data/indices/SPX Index.csv")
spx.describe()

In [ ]:
# get_market_df("data/tickers/spx/1437355D US Equity.csv")
a = pd.read_csv("data/tickers/spx/1437355D US Equity.csv")

In [ ]:
dfs = []

for p in path_list:
    try:
        df_m = get_market_df(p).set_index("date")
        dfs.append(df_m)
    except ValueError:
        pass

In [ ]:
problematic = ["ADI UN Equity", "ADP UN Equity", "AMD UN Equity",
               "BMC UW Equity", "CA UN Equity", "CAR UN Equity",
               "CIEN UA Equity", "CMCSA UA Equity", "CME UN Equity",
               "CMVT UQ Equity", "COST UA Equity", "CSX UN Equity",
               "DVN UA Equity", "EHC UN Equity", "ETFC UN Equity",
               "ETFC UW Equity", "FTRCQ UN Equity", "GENZ UA Equity",
               "GT UN Equity", "HBAN UA Equity", "JOY UN Equity",
               "MAR UN Equity", "MAT UN Equity", "MDLZ UN Equity",
               "MU UN Equity", "MYL UN Equity", "NBR UA Equity",
               "NVDA UA Equity", "RRD UN Equity", "SBUX UA Equity",
               "SCHW UN Equity", "SLM UN Equity", "SPLS UA Equity",
               "TFCFA UN Equity", "TMUS UN Equity", "TXN UN Equity",
               "UAL UW Equity", "VIAB UN Equity", "WBA UN Equity",
               "WDC UN Equity", "WINMQ UN Equity"]

problematic_sectors = df.loc[df.ticker.isin(problematic)].value.unique().tolist()
non_problematic_sectors = [s for s in sectors if s not in problematic_sectors]
print("non problematic sectors = ", non_problematic_sectors)

In [ ]:
problematic_sectors