In [9]:
import numpy as np
import pandas as pd
from data_mani.utils import merge_market_and_gtrends
from feature_selection.sfi import get_sfi_scores

In [7]:
path = "data/indices/SPX Index.csv" 
train, test = merge_market_and_gtrends(path=path,
                                       test_size=0.5)

In [13]:
result = get_sfi_scores(merged_df=train,
                        target_name="target_return",
                        words=["bank", "act", "arts", "war"],
                        max_lag=20,
                        verbose=True,
                        n_splits=10)

add shift: 100%|██████████| 4/4 [00:00<00:00, 47.38it/s]
cv r2: 100%|██████████| 4/4 [00:05<00:00,  1.48s/it]

In [14]:
result

    feature  feature_score
0    bank_2       0.003416
1     act_4       0.003381
2    bank_4       0.002940
3   bank_20       0.002496
4   arts_16       0.002449
..      ...            ...
75   act_12      -0.001763
76   bank_7      -0.001885
77  arts_12      -0.004635
78    act_8      -0.004685
79   bank_6      -0.006159

[80 rows x 2 columns]