In [1]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
from glob import glob
from time import time
from multiprocessing import Pool
from word_list.analysis import words
from feature_selection.sfi import get_sfi_scores
from feature_selection.mdi import get_mdi_scores
from data_mani.utils import merge_market_and_gtrends
from data_mani.utils import get_ticker_name
from data_mani.utils import path_filter

In [2]:
N_SPLITS = 5
MAX_LAG = 30
OUT_FOLDER = "nyse"
PATHS = sorted(glob("data/crsp/{}/*.csv".format(OUT_FOLDER)))
WORDS = words[:10]
path = PATHS[2]
merged = merge_market_and_gtrends(path)

In [3]:
init = time() 
result = get_sfi_scores(merged_df=merged,
                        target_name="target_return",
                        words=WORDS,
                        max_lag=MAX_LAG,
                        verbose=True,
                        n_splits=N_SPLITS)
tot_time = time() - init
tot_time = tot_time / 60
print("\ntotal time = {:.3f} (minutes)".format(tot_time))

add shift: 100%|██████████| 10/10 [00:00<00:00, 14.95it/s]
cv r2: 100%|██████████| 10/10 [00:10<00:00,  1.06s/it]

total time = 0.187 (minutes)

In [4]:
result.head(4)

        feature   mean_r2
0       bonds_1  0.008720
1    banking_28  0.004473
2  blacklist_12  0.003535
3   business_20  0.003300

In [5]:
init = time() 
result = get_mdi_scores(merged_df=merged,
                        target_name="target_return",
                        words=WORDS,
                        max_lag=MAX_LAG,
                        random_state=34324,
                        n_estimators=100,
                        verbose=True)
tot_time = time() - init
tot_time = tot_time / 60
print("\ntotal time = {:.3f} (minutes)".format(tot_time))

add shift: 100%|██████████| 10/10 [00:00<00:00, 125.55it/s]

total time = 0.005 (minutes)

In [6]:
result.head(4)

      features       mdi
0  DOW_JONES_8  0.006469
1      bank_17  0.006419
2      bank_16  0.006108
3      bank_27  0.006044