In [1]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
from glob import glob
from time import time
from multiprocessing import Pool
from word_list.analysis import words
from feature_selection.sfi import get_sfi_scores
from feature_selection.mdi import get_mdi_scores
from data_mani.utils import merge_market_and_gtrends
from data_mani.utils import get_ticker_name
from data_mani.utils import path_filter

In [2]:
N_SPLITS = 5
MAX_LAG = 30
OUT_FOLDER = "nyse"
PATHS = sorted(glob("data/crsp/{}/*.csv".format(OUT_FOLDER)))
WORDS = words
path = PATHS[2]
merged = merge_market_and_gtrends(path)

In [3]:
init = time() 
result = get_sfi_scores(merged_df=merged,
                        target_name="target_return",
                        words=WORDS,
                        max_lag=MAX_LAG,
                        verbose=True,
                        n_splits=N_SPLITS)
tot_time = time() - init
tot_time = tot_time / 60
print("\ntotal time = {:.3f} (minutes)".format(tot_time))

add shift: 100%|██████████| 182/182 [01:15<00:00,  2.40it/s]
cv r2: 100%|██████████| 182/182 [03:21<00:00,  1.11s/it]

total time = 4.628 (minutes)

In [4]:
result.head(4)

       feature   mean_r2
0      bonds_1  0.008720
1  election_12  0.006364
2    default_9  0.006048
3  ministry_21  0.005910

In [11]:
init = time() 
result = get_mdi_scores(merged_df=merged,
                        target_name="target_return",
                        words=WORDS,
                        max_lag=MAX_LAG,
                        random_state=34324,
                        n_estimators=100,
                        verbose=True)
tot_time = time() - init
tot_time = tot_time / 60
print("\ntotal time = {:.3f} (minutes)".format(tot_time))

add shift: 100%|██████████| 182/182 [00:01<00:00, 142.04it/s]

total time = 0.031 (minutes)

In [12]:
result.head(4)

           features       mdi
0  short_selling_17  0.005205
1  short_selling_18  0.001747
2         chance_29  0.001382
3  short_selling_19  0.001320