In [1]:
import pandas as pd
import os

In [4]:
#os.listdir(os.path.join('data', 'crsp', 'nasdaq'))

In [2]:
def adj_find_target_str_bbg_data(df, target_str='date'):
    
    if df.columns[0] != target_str:
        df.columns = df.iloc[0]
        while df.columns[0] != target_str:
            df.drop(df.index[0], inplace=True)
            df.columns = df.iloc[0]
        df.drop(df.index[0], inplace=True)
    
    return df

def merge_data(df_list, freq='D'):
    list_out = []
    for i, df in enumerate(df_list):
        #print(i)
        df_loop = df.resample(freq).mean()
        list_out.append(df_loop)
    df_out = pd.concat(list_out, axis=1)
    
    return df_out

def make_df_from_path(path, threshold_to_exclude=365, file_format='.csv'):
    list_out = []
    excluded_list = []
    for file in os.listdir(path):
        if file.endswith(file_format):
            df_loop = pd.read_csv(os.path.join(path, file))
            if len(df_loop) >= threshold_to_exclude:
                df_loop = adj_find_target_str_bbg_data(df_loop)
                names_in_col = [df_loop.columns[0]] + [file.replace('.csv', '')]

                try:
                    df_loop.columns = names_in_col
                except:
                    df_loop = df_loop[names_in_col]

                df_loop[names_in_col[0]] = pd.to_datetime(df_loop[names_in_col[0]])
                df_loop[names_in_col[1]] = df_loop[names_in_col[1]].astype(float)

                df_loop = df_loop.set_index(names_in_col[0])
                list_out.append(df_loop)
            else:
                excluded_list.append(file)
    df_out = merge_data(list_out)
    return df_out, excluded_list

In [3]:
df_nasdaq, excluded_nasdaq_list = make_df_from_path(os.path.join('data', 'crsp', 'nasdaq'), threshold_to_exclude=365)

KeyboardInterrupt:

In [9]:
df_nyse, excluded_nyse_list = make_df_from_path(os.path.join('data', 'crsp', 'nyse'), threshold_to_exclude=365)

In [31]:
df_gtrends, excluded_gtrends_list = make_df_from_path(os.path.join('data', 'daily_trend'), threshold_to_exclude=365)

In [36]:
df_tot = pd.concat([df_nasdaq, df_nyse, df_gtrends], axis=1)
df_tot.head()

,9876588D US Equity,9977553D US Equity,9990411D US Equity,9991734D US Equity,9993577D US Equity,9999587D US Equity,A US Equity,AA US Equity,AABB US Equity,AACG US Equity,...,voters,votes,war,washington,water,william,winsconsin,wisconsin,world,york
date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.3922,NaN,NaN,-2.5000,0.0000,NaN,-6.8715,-2.4849,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-2.7344,NaN,NaN,-2.2436,-3.6364,NaN,-7.6389,0.4633,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,-0.2008,NaN,NaN,2.9508,9.4340,NaN,-6.2030,5.7648,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,2.2133,NaN,NaN,3.5032,-6.8966,NaN,-3.8076,-1.3081,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,-0.7874,NaN,NaN,5.2308,14.8148,NaN,8.3333,-0.2946,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN