In [1]:
import numpy as np
import numpy as np
import  pandas as pd
from feature_selection.markov_blanket import *

In [8]:
from word_list.analysis import words
from glob import glob
from data_mani.utils import path_filter
from data_mani.utils import merge_market_and_gtrends

TEST_SIZE = 0.5 # pct of the train/test split
THRESHOLD = 252 * 2 # treshold to filted merged datframes
OUT_FOLDER = "spx" # name of the marked data folder
PATHS = sorted(glob("data/index/{}/*.csv".format(OUT_FOLDER)))

In [9]:
path = PATHS[1]
merged, _ = merge_market_and_gtrends(path, test_size=TEST_SIZE)

In [10]:
merged.head()

,target_return,BUY AND HOLD,DOW JONES,act,arts,bank,banking,blacklist,bonds,bubble,...,virginia,voters,votes,war,washington,water,william,wisconsin,world,york
date,,,,,,,,,,,,,,,,,,,,,
2004-01-02,-0.001394,0.0,1.0,3.0,0.0,38.0,-1.0,1.0,-4.0,-2.0,...,8.0,0.0,0.0,5.0,20.0,2.0,4.0,0.0,14.0,11.0
2004-01-05,0.001628,-1.0,0.0,3.0,3.0,-7.0,-3.0,0.0,-1.0,-3.0,...,1.0,1.0,1.0,4.0,-1.0,3.0,5.0,1.0,4.0,-15.0
2004-01-06,-0.013005,0.0,1.0,10.0,1.0,37.0,5.0,0.0,-1.0,1.0,...,21.0,0.0,-1.0,-12.0,33.0,9.0,2.0,11.0,-7.0,29.0
2004-01-07,0.020941,0.0,-1.0,-4.0,-4.0,-8.0,-1.0,1.0,2.0,2.0,...,-7.0,0.0,0.0,1.0,-9.0,-3.0,1.0,-5.0,0.0,-8.0
2004-01-08,0.004609,0.0,1.0,2.0,2.0,1.0,1.0,0.0,-1.0,-1.0,...,-9.0,0.0,0.0,7.0,-7.0,-2.0,0.0,2.0,-3.0,-1.0

In [14]:
target = 0
alaph = 0.01

MBs = IAMB(merged, target, alaph, is_discrete=False)
print("MBs is: " + str(MBs))

MBs is: ([25, 145], 545)

In [16]:
[merged.columns[25], merged.columns[145]]

['consume', 'risk']